/* css screen */
@font-face
{
	font-family:HammersmithOne;
	src: url(../assets/fonts/HammersmithOne-Regular.ttf);
}
body
{
	font-family:HammersmithOne;
	text-align: center;
}
#gameCanvas
{
	position:absolute;
	
	left: 50%;
	margin-left: -525px;
	
}
